DB_USERNAME=root
DB_PASSWORD=''
DB_HOST=localhost
DB_PORT=3306
DB_NAME=MockTale
DB_DIALECT=mysql

JWT_SECRET=MockTaleSecret
NODEMAILER_PASS=idywskjhdbewhjgfwhvabtelpq
NODMAILER_EMAIL=abc123@gmail.com
